/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, html {
	background-color: #eee;
	color: #222;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

a {
	font-weight: 700;
	color: #23a4cc;
	text-decoration: none;
}

p {
	font-size: 1em;
	line-height: 1.4;
}

img {
	width:100%;
	height:auto;
}

h1, h2, h3, h4 {
	font-weight: 700;
}

h1 {
	font-size:1.3em;
	line-height: 1.4;
}

h2 {
	font-size: 1.1em;
}

figure {
	margin: 0;
}

.btn {
	background-color: #b21e49;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 2.5;
	text-align: center;
	box-shadow: 2px 2px 0px #DADADA;
	height: 2.5em;
	width: 100%;
	display: block;
}

.btn:hover {
    background-color: #ff1256;
}

input.btn {
    background-color: #ff1256;
}

input.btn:hover {
    background-color: #b21e49;
}

.last-item {
	border-bottom: none;
}

/* Header =========================== */

.main-header {
    width:100%;
	margin: auto;

}

.header-wrapper{
	background-color: #ddd;
}

.logo {
	width: 100%;
	margin: 0 auto;
}

nav {
    width:100%;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	border-bottom: 1px solid #ccc;
	text-align: center;
	padding: 15px 0;
}

nav ul li a {
	font-size: 1.125em;
	text-transform: uppercase;
	color: #333;
}

nav ul li a:hover {
    color: #FF1256;
}

nav i{
    padding-right:10px;
}

.btn i {
    padding-right: 10px;
}

/* Main =========================== */

main {
    margin:auto;
    padding: 0 2%;
    width:96%;
	max-width: 960px;
	clear:both;
}

/* Featured Story =========================== */

.top-info h1{
    font-size: 1.4em;
    line-height: 1.2;
}

.top-info h1 a {
	color: #222;
}

.top-story {
    width:100%;
	border-bottom: 1px solid #ccc;
}

.top-img {
	width: 100%;
	margin: 0;
}

.top-img img {
	width: 100%;
}


/* Sidebar Section =========================== */

.sidebar {
    width:100%;
}

.sidebar-newsletter {
	border-bottom: 1px solid #ccc;
	padding: 0 0 20px 0;
}

.sidebar-newsletter input {
	width: 100%;
	box-sizing: border-box;
}

.sidebar-newsletter input[type="text"] {
	margin-bottom: 10px;
	padding: 5px 0;
}

.sidebar-about-us, .sidebar-faqs {
	display:none;   
}


/* Feed Section =========================== */

.feed {
    width:100%;
}

.feed p {
	display: none;
}

.feed-item {
	clear: both;
	border-bottom: 1px solid #ccc;
	padding: 15px 0 15px 0;
}

.last-item {
    border-bottom: none;
}

.feed-item h2 {
	margin: 0;
    font-size: 1em;
	line-height: 1.2em;
}

.feed-item h2 a {
	color: #222;
}

.feed-img {
	width: 45%;
	float: left;
	margin: 0;
	padding-right: 3%;   
}


/* About Page =========================== */

.contact-info {
    width:100%; 
}

.contact-info ul {
	list-style: none;
	padding: 0;
}

.contact-info ul li {
	display: inline-block;
	vertical-align: top;
}

.strong {
	font-weight: 700;
}

.map-container {
    position: relative;
    padding-bottom: 75%;
    height:0;
    overflow:hidden;
}

.map-container iframe{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.mission {
	width: 100%;  
}

.team-member {
	padding: 0 0 15px 0;
	clear:both;
}

.team-img {
	width: 40%;
	padding-bottom: 40%;
	float: left;
	margin-right: 20px;
	border: 1px solid #ccc;
}

.team-name {
	margin-bottom: 0;
}

.team-title {
	margin-top: 0;
}

.team-description {
	display: none;
}

#team-img-me {
	background: url('../img/me.jpg') center no-repeat;
	background-size: cover;
}

#team-img-lana {
	background: url('../img/team-lana.png') center no-repeat;
	background-size: cover;
}

#team-img-willow {
	background: url('../img/team-willow.png') center no-repeat;
	background-size: cover;
}

/* FAQ Page =========================== */

.faqs-item {
	border-bottom: 1px solid #cccccc;
}

.faq-last-item {
	padding:0 0 10px 0;
    border:none;
}

.faqs-item h3 {
	font-weight: 400;
}

/* News Pages =========================== */

.news-newsletter {
	border-bottom: none;
	padding: 0;
}

.news-newsletter input {
	width: 100%;
	box-sizing: border-box;
}

.news-newsletter input[type="text"] {
	margin-bottom: 10px;
	padding: 5px 0;
}

.review-copy{
	padding:0 0 10px 0;
}

/* Concert Page =========================== */

.concerts {
	width:100%;
}   

.date-block{
	width: 25%;
	float: left;
	margin: 0;
	border: 1px solid #ccc;
    line-height: 1;
}

.date-block p{
	text-align: center;
	vertical-align: middle;
	font-size:1em;
	font-weight: 700;
}
.concert-item {
	clear: both;
	border-bottom: 1px solid #ccc;
	padding: 20px 20px;
}

.concert-info{
	float:left;
	width: 60%;
	margin:0;
	padding:0 0 0 10%;
}

.concert-info h2 {
	font-size: 1.1em;
	line-height: 1em;
	padding:0;
	margin-top:0;
}

.concert-info p {
	font-size: .875em;
	padding:0;
}

.last-item {
	border-bottom: none;
}

.tickets{
	clear: both;
	padding-top:5px;
}


/* Footer =========================== */

footer {
    margin: auto;
    width:100%;
	border-top: 1px solid #ccc;
	padding-top: 20px;
	margin-top: 20px;
	clear: both;
}

.footer-logo {
    margin: auto;
    width:47.5%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 768px) {
    /*Tablet styles here*/
	
	/* Header =========================== */

	.main-header {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.main-header .header-wrapper {
		width: 96%;
		max-width: 960px;
		overflow:auto;
		margin: auto;
	}
	
	.logo{
		width: 40%;
		float:left;
	}
	
	.logo img {

	}

	nav {
		width:60%;
		float:left;
		padding: 5.5% 0 0 0;
	}
	
	nav ul {
		margin: auto;
		text-align: center;
	}
	
	nav ul li{
		display:inline;
		padding: 0 2%;
		border: none;
		position: relative;
	}
	
	
	/* Featured Story =========================== */

    .hero-area {}
    
	.top-story {
		width: 100%;
        padding:30px 0 40px 0;
        overflow:auto;
	}
    
    .top-story h1 {
        font-size: 1.4em;
        margin:0;
        padding-top:0;
    }
	
	.top-img {
		width:57%;
		float:left;
		padding-right: 3%;
	}
	
	.top-info {
		width:40%;
		float:left;
	}
	
	/* Sidebar Section =========================== */

	.sidebar {
		clear:both;
		width:37%;
		float:right;
	}

	.sidebar-newsletter {

	}

	.sidebar-about-us, .sidebar-faqs {
		display:block;
		border-bottom: 1px solid #ccc;
		padding: 0 0 20px 0;
	}
	
	
	/* Feed Section =========================== */

	.feed {
		width:60%;
		float:left;
		border-right: 1px solid #ccc;
		
	}
	
	.feed h2 {
		font-size: 1.125em;
        line-height: 1.125em;
		padding:10px 0 0 0;
	}

	.feed-item {
		padding: 20px 0 20px 0;
	}

	.feed-img {
		width: 35%;
	}

	.feed-info {
		width: 100%;
	}
	
	/* About Page =========================== */

	.contact-info {
		width:40%;
		float:left;
	}
    
    .map-container {
        position: relative;
        padding-bottom: 40%;
        height:0;
        overflow:hidden;
        width: 58%;
        float: left;
        border: 1px solid #333;
        margin-bottom: 40px;
        margin-top: 30px;
    }

	.mission {
		clear:both;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding: 15px 0;
	}

	.team {
		padding-top: 15px;
	}
	
	.team-member {
		padding: 15px 0;
	}

	.team-img {
		width: 20%;
		padding-bottom: 20%;
		margin-right: 10%;
	}

	/* News =========================== */

	.review{
		width: 100%;
		padding: 40px 0 20px 0;
		overflow: auto;
	}
	
	.review-img {
		width:57%;
		float:left;
		padding-right: 3%;
	}
	
	.review-info h2{
		font-size:1.4em;
		line-height:1.2em;
		margin:0;
		padding:0;
	}
	
	.review-copy{
		clear: both;
		padding:10px 0 10px 0;
	}
	
	.news-newsletter input {
		width: 30%;
		box-sizing: border-box;
		float:right;
	}

	.news-newsletter input[type="text"] {
		width: 65%;
		float:left;
		margin-bottom: 30px;
		padding: 8px 0;
	}
	
	.news-newsletter .btn {
		margin-left:10px;
	}
	
	/* Concert Page =========================== */

	.concerts {
		width:100%;
	}

	.concert-left {
		width:50%;
		float:left;
	}
	
	.concert-right {
		width:50%;
		float:left;
	}


	/* Footer =========================== */

	.footer-logo {
		margin: auto;
		width:30%;
	}
}


@media screen and (min-width: 940px) {
    /*Desktop styles here*/
	
    
    
	/* Featured Story =========================== */

	.top-story {
		width: 65%;
		float:left;
		border: none;
		padding-right: 2%;
        padding-top:30px;
        padding-bottom: 0;
		border-right: 1px solid #cccccc;
	}
	
	.top-story h1 {
		font-size: 1.4em;
		margin:0;
		padding:20px 0 0 0;
	}
	
	.top-story p {
		padding:0 0 10px 0;
	}
	
	.top-img {
		width:100%;

	}
	
	.top-img img {
		max-width: 620px;
	}

	.top-info {
		width: 100%;
		float: left;
	}
    
	/* Sidebar Section =========================== */

	.sidebar {
		clear:none;
		width:30%;

	}
    
    .sidebar h2 {
        font-size: 1.4em;
        line-height: 1.2em;
    }

	.sidebar-newsletter,
	.sidebar-about-us,
	.sidebar-faqs {
		padding: 15px 20px 20px 20px;
	}
	
	.sidebar-faqs {
		border: none;
	}

	/* Feed Section =========================== */

	.feed {
		width:100%;
		float: none;
		clear: both;
		padding-top: 20px;
		border-top: 1px solid #ccc;
		border-right: none;
	}

	.feed-item {

	}
	
	.feed p {
		display: block;
		margin-top: 0;
	}
	
	.feed h2 {
		margin: 0;
	}

	.feed-img {
		width: 20%;
	}

	.feed-info {

	}

	/* About Page =========================== */

	.contact-info {

	}

	.mission {

	}

	.team {

	}
	

	

	/* News =========================== */

	.review{
		width: 100%;
		padding: 40px 0 20px 0;
		overflow: auto;
	}
	
	.review-img img {
		max-width: 620px;
	}

	.review-info h2{
		font-size:1.4em;
		line-height:1.2em;
		margin:0;
		padding:0;
	}

	.review-copy{
		clear: both;
		padding:10px 0 10px 0;
	}

	.news-newsletter input {
		width: 30%;
		box-sizing: border-box;
		float:right;
	}

	.news-newsletter input[type="text"] {
		width: 65%;
		float:left;
		margin-bottom: 30px;
		padding: 8px 0;
	}

	.news-newsletter .btn {
		margin-left:10px;
	}
	
	
	/* Footer =========================== */

	.footer-logo {
		width: 20%;
	}

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
